@model HTechWeb.Models.DTO.Home.Product.Response.ProductGetResponse
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/_Layout/_layout.cshtml";
    var listProduct = new List<HTechWeb.Models.DTO.Home.Product.Response.ProductResponse.Product>();
    if (Session["listProduct"] != null)
    {
        listProduct = Session["listProduct"] as List<HTechWeb.Models.DTO.Home.Product.Response.ProductResponse.Product>;
    }
    //Get Shop
    var getShop = new HTechWeb.Models.DTO.Shop.Response.ShopGetResponse.Result();
    if (ViewBag.getShop != null)
    {
        getShop = ViewBag.getShop as HTechWeb.Models.DTO.Shop.Response.ShopGetResponse.Result;
    }
    int proQty = 0;
    string modeBN = "BuyNow";
}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Product_List","Home")">Products</a></li>
            <li class="breadcrumb-item active">Product Detail</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
@{ if (Model.result != null)
    {


        <!-- Product Detail Start --><div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="product-detail-top">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="product-slider-single normal-slider">
                                        @{
                                            foreach (var item in Model.result.productImages)
                                            {
                                                if (item.imagePath != null)
                                                {
                                                    if (item.imagePath != "")
                                                    {
                                                        <img src="@Url.Content(item.imagePath)" alt="Product Image">
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="product-slider-single-nav normal-slider">
                                        @{
                                            foreach (var item in Model.result.productImages)
                                            {
                                                if (item.imagePath != null)
                                                {
                                                    if (item.imagePath != "")
                                                    {
                                                        <div class="slider-nav-img"><img src="@Url.Content(item.imagePath)" alt="Product Image"></div>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="text-center">
                                        <h3><a href="@Url.Action("Shop_Page","Shop",new { id= @getShop.shopId})" class="btn"><i class="fas fa-store"></i>@getShop.shopName</a></h3>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="product-content">

                                        <form action="@Url.Action("AddToCart","Home",new { id = @Model.result.productId, qty = 1,mode=modeBN})" id="formBuyNow" method="post"></form>
                                        <form action="/Home/AddToCart/@Model.result.productId" id="formAddToCart" method="post">
                                            <div class="title"><h2>@Model.result.productName</h2></div>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="price">
                                                <h4>Price:</h4>
                                                @{ if (Model.result.productVariations != null)
                                                    {
                                                        if (Model.result.productVariations.Count > 1)
                                                        {
                                                            <p id="textPrice">$@(Model.result.productVariations.Select(x => x.price).Min().ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))) ~ $@(Model.result.productVariations.Select(x => x.price).Max().ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))) </p>
                                                        }
                                                        else if (Model.result.productVariations.Count == 1)
                                                        {
                                                            <p id="textPrice">
                                                                $@(Model.result.productVariations.Select(x => x.price).FirstOrDefault().ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))
                                                            </p>
                                                        }
                                                    }
                                                }
                                                @*<span>$149</span> CO DAU GACH NGANG*@
                                            </div>
                                            <div class="quantity">
                                                <h4>Quantity:</h4>
                                                <div class="qty">
                                                    <button form="#" class="btn-minus"><i class="fa fa-minus"></i></button>
                                                    <input type="text" value="1" id="quantityProduct" onkeydown="return (event.keyCode!=13);" name="quantityProduct">
                                                    <button form="#" class="btn-plus"><i class="fa fa-plus"></i></button>
                                                </div>
                                                @if (Model.result.productVariations.Count > 0)
                                                {
                                                    foreach (var item in Model.result.productVariations)
                                                    {
                                                        if (item.quantity != 0)
                                                        {
                                                            <strong id="proQty">Product Left: @item.quantity</strong>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <strong id="proQty">Product Left: 0</strong>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <strong id="proQty">Product Left: 0</strong>
                                                }
                                            </div>
                                            <div class="p-size">
                                                <h4>Variants:</h4>
                                                <div class="btn-group" style="width:250px;">
                                                    @if (Model.result.productVariations != null)
                                                    {
                                                        <select class="custom-select" id="productVariant" name="productVariant">
                                                            @foreach (var item in Model.result.productVariations)
                                                            {
                                                                <option value="@item.productVariationId/@item.price/@item.quantity">@item.name</option>
                                                            }
                                                        </select>
                                                    }
                                                </div>

                                            </div>
                                            <div class="action">
                                                <a class="btn" id="btnAddToCart" href="javascript:;" onclick="formAddToCart.submit();"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                                <a class="btn" id="btnBuyNow" href="javascript:;" onclick="formBuyNow.submit();"><i class="fa fa-shopping-bag"></i>Buy Now</a>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#specification">Specification</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#reviews">Reviews (1)</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="description" class="container tab-pane active">
                                        <h4>Product description</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque. Suspendisse sit amet neque neque. Praesent suscipit et magna eu iaculis. Donec arcu libero, commodo ac est a, malesuada finibus dolor. Aenean in ex eu velit semper fermentum. In leo dui, aliquet sit amet eleifend sit amet, varius in turpis. Maecenas fermentum ut ligula at consectetur. Nullam et tortor leo.
                                        </p>
                                    </div>
                                    <div id="specification" class="container tab-pane fade">
                                        <h4>Product specification</h4>
                                        <ul>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                        </ul>
                                    </div>
                                    <div id="reviews" class="container tab-pane fade">
                                        <div class="reviews-submitted">
                                            <div class="reviewer">Phasellus Gravida - <span>01 Jan 2020</span></div>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                                            </p>
                                        </div>
                                        <div class="reviews-submit">
                                            <h4>Give your Review:</h4>
                                            <div class="ratting">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="row form">
                                                <div class="col-sm-6">
                                                    <input type="text" placeholder="Name">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="email" placeholder="Email">
                                                </div>
                                                <div class="col-sm-12">
                                                    <textarea placeholder="Review"></textarea>
                                                </div>
                                                <div class="col-sm-12">
                                                    <button>Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <div class="section-header">
                                <h1>Shop Other Products</h1>
                            </div>

                            <div class="row align-items-center product-slider product-slider-3">
                                @{
                                    foreach (var item in getShop.products)
                                    {
                                        <div class="col-lg-3">
                                            <div class="product-item">
                                                <div class="product-title">
                                                    <a href="#">@item.productName</a>
                                                    <div class="ratting">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="product-image">
                                                    <a href="@Url.Action("Product_Details","Shop",new { id = item.productId })">
                                                        <img src="@Url.Content(item.image)" alt="Product Image">
                                                    </a>
                                                    <div class="product-action">
                                                        <a href="@Url.Action("AddToCart","Home",new { id = item.productId, qty = 1})"><i class="fa fa-cart-plus"></i></a>
                                                        <a href="@Url.Action("Product_Details","Shop",new { id = item.productId })"><i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-price">
                                                    <h3><span>$</span>@item.price.ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</h3>
                                                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <!-- Side Bar Start -->
                    <div class="col-lg-4 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title">Category</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets & Accessories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics & Accessories</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">Product Name</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="~/Others/images/product-7.jpg" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>99</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">Product Name</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="~/Others/images/product-8.jpg" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>99</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">Product Name</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src="~/Others/images/product-9.jpg" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>99</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-widget brands">
                            <h2 class="title">Our Brands</h2>
                            <ul>
                                <li><a href="#">Nulla </a><span>(45)</span></li>
                                <li><a href="#">Curabitur </a><span>(34)</span></li>
                                <li><a href="#">Nunc </a><span>(67)</span></li>
                                <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                                <li><a href="#">Fusce </a><span>(89)</span></li>
                                <li><a href="#">Sagittis</a><span>(28)</span></li>
                            </ul>
                        </div>

                        <div class="sidebar-widget tag">
                            <h2 class="title">Tags Cloud</h2>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Vivamus</a>
                            <a href="#">Phasellus</a>
                            <a href="#">pulvinar</a>
                            <a href="#">Curabitur</a>
                            <a href="#">Fusce</a>
                            <a href="#">Sem quis</a>
                            <a href="#">Mollis metus</a>
                            <a href="#">Sit amet</a>
                            <a href="#">Vel posuere</a>
                            <a href="#">orci luctus</a>
                            <a href="#">Nam lorem</a>
                        </div>
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product Detail End -->
    }
}

<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="~/Others/images/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="~/Others/images/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="~/Others/images/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="~/Others/images/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="~/Others/images/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="~/Others/images/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->
<!--/// JS ///-->
<script>
    //change Product Price text
    if ($('#productVariant').val() == null) {
        $('#btnAddToCart').removeAttr("href");
        $('#btnAddToCart').removeAttr("onclick");
        $('#btnBuyNow').removeAttr("href");
        $('#btnBuyNow').removeAttr("onclick");
    } else {
        var price = $('#productVariant').val().split("/")[1];
        var quantity = $('#productVariant').val().split("/")[2];
        if (quantity == 0) {
            $('#btnAddToCart').removeAttr("href");
            $('#btnAddToCart').removeAttr("onclick");
            $('#btnBuyNow').removeAttr("href");
            $('#btnBuyNow').removeAttr("onclick");
        } else {
            $('#btnAddToCart').attr("href", "javascript:;");
            $('#btnAddToCart').attr("onclick", "formAddToCart.submit();");
            $('#btnBuyNow').attr("href", "javascript:;");
            $('#btnBuyNow').attr("onclick", "formBuyNow.submit();");
        }
    }
    $('#productVariant').click(function () {
        if ($(this).val() != null) {
            var price = $(this).val().split("/")[1];
            var quantity = $(this).val().split("/")[2];
            $('#textPrice').html("$" + parseInt(price).toLocaleString("vi-VN"))
            $('#proQty').html("Product Left: " + quantity);
            if (quantity == 0) {
                $('#btnAddToCart').removeAttr("href");
                $('#btnAddToCart').removeAttr("onclick");
                $('#btnBuyNow').removeAttr("href");
                $('#btnBuyNow').removeAttr("onclick");
            } else {
                $('#btnAddToCart').attr("href", "javascript:;");
                $('#btnAddToCart').attr("onclick", "formAddToCart.submit();");
                $('#btnBuyNow').attr("href", "javascript:;");
                $('#btnBuyNow').attr("onclick", "formBuyNow.submit();");
            }
        }
    });

    //check Product QUantity
    $('#quantityProduct').change(function () {
        var quantity = $('#productVariant').val().split("/")[2];
        if (quantity > 0) {
            if ($(this).val() <= 0) $(this).val("1");
            else if (parseInt($(this).val()) > quantity) $('#quantityProduct').val(quantity);
        }
    });

    //Check on time
    setInterval(function () {
        var quantity = $('#productVariant').val().split("/")[2];
        if (quantity > 0) {
            if ($('#quantityProduct').val() <= 0) $('#quantityProduct').val("1");
            else if (parseInt($('#quantityProduct').val()) > quantity) $('#quantityProduct').val(quantity);
        }
    }, 500);
</script>